# 1. Introduction
Using Python and its libraries, you will gather data from a variety of sources and in a variety of formats, assess its quality and tidiness, then clean it.

In [23]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json
import re
import requests
import csv

# 2. Gather Data 
    Gather Data 1 : archive tweets given by Kaggle ( imdb - review )

In [25]:
df = pd.read_csv("tmdb-movies.csv" , sep=",")

# 3. Assess Data

### 3.1.1 VIsual Assessment

In [26]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

### 3.1.2 Programatic Assessment

In [27]:
df.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10866.000000,10866.000000,1.086600e+04,1.086600e+04,10866.000000,10866.000000,10866.000000,10866.000000,1.086600e+04,1.086600e+04
mean,66064.177434,0.646441,1.462570e+07,3.982332e+07,102.070863,217.389748,5.974922,2001.322658,1.755104e+07,5.136436e+07
std,92130.136561,1.000185,3.091321e+07,1.170035e+08,31.381405,575.619058,0.935142,12.812941,3.430616e+07,1.446325e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10596.250000,0.207583,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20669.000000,0.383856,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75610.000000,0.713817,1.500000e+07,2.400000e+07,111.000000,145.750000,6.600000,2011.000000,2.085325e+07,3.369710e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
id                      10866 non-null int64
imdb_id                 10856 non-null object
popularity              10866 non-null float64
budget                  10866 non-null int64
revenue                 10866 non-null int64
original_title          10866 non-null object
cast                    10790 non-null object
homepage                2936 non-null object
director                10822 non-null object
tagline                 8042 non-null object
keywords                9373 non-null object
overview                10862 non-null object
runtime                 10866 non-null int64
genres                  10843 non-null object
production_companies    9836 non-null object
release_date            10866 non-null object
vote_count              10866 non-null int64
vote_average            10866 non-null float64
release_year            10866 non-null int64
budget_adj              10866 non-null float64
revenue_adj             10866 non-null float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

### 3.1.3 Issues List
### - Date and time format ( release Date )
### - Remove duplicates
### - missing data
### - Drop unimportant columns
### - Each variable forms a column.
### - Each observation forms a row.
### - Each type of observational unit forms a table.

# 4. Cleaning

In [29]:
# Create Cleaning copies 
df_clean = df.copy()

### 4.1.1 Define 
### clear missing data
### - Date and time format
### - Remove duplicates
### - Drop unimportant columns

### 4.1.2 Clean

In [31]:
# Adjust Date and Time format
df_clean.release_date = pd.to_datetime(df_clean.release_date)

In [32]:
# check for duplicates and drop them
df_clean.drop_duplicates(subset ="imdb_id", keep = False, inplace = True)

In [ ]:
# Drop unimportant columns
df_clean = df_clean.drop(columns=['budget'])

### 4.1.3 Test

In [33]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10854 entries, 0 to 10865
Data columns (total 21 columns):
id                      10854 non-null int64
imdb_id                 10854 non-null object
popularity              10854 non-null float64
budget                  10854 non-null int64
revenue                 10854 non-null int64
original_title          10854 non-null object
cast                    10778 non-null object
homepage                2934 non-null object
director                10814 non-null object
tagline                 8037 non-null object
keywords                9367 non-null object
overview                10851 non-null object
runtime                 10854 non-null int64
genres                  10833 non-null object
production_companies    9829 non-null object
release_date            10854 non-null datetime64[ns]
vote_count              10854 non-null int64
vote_average            10854 non-null float64
release_year            10854 non-null int64
budget_adj              10854 non-null float64
revenue_adj             10854 non-null float64
dtypes: datetime64[ns](1), float64(4), int64(6), object(10)
memory usage: 1.8+ MB

In [37]:
df_clean.sample()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
4200,10731,tt0109446,1.022699,45000000,117615211,The Client,Susan Sarandon|Tommy Lee Jones|Mary-Louise Par...,NaN,Joel Schumacher,A District Attorney Out For A Conviction. A Ne...,...,"A street-wise kid, Mark Sway, sees the suicide...",119,Drama|Thriller|Crime|Mystery,Regency Enterprises|Alcor Films|Warner Bros.,1994-07-20,130,6.2,1994,6.620002e+07,1.730251e+08

In [38]:
df_clean.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015-06-09,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015-05-13,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015-03-18,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015-12-15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015-04-01,2947,7.3,2015,1.747999e+08,1.385749e+09

In [35]:
df_clean.describe()

,id,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,budget_adj,revenue_adj
count,10854.000000,10854.000000,1.085400e+04,1.085400e+04,10854.000000,10854.000000,10854.000000,10854.000000,1.085400e+04,1.085400e+04
mean,65961.381150,0.646837,1.463634e+07,3.986717e+07,102.106136,217.594067,5.973954,2001.312327,1.756492e+07,5.142097e+07
std,92022.202764,1.000637,3.092641e+07,1.170607e+08,31.350028,575.903136,0.934600,12.815991,3.432056e+07,1.447024e+08
min,5.000000,0.000065,0.000000e+00,0.000000e+00,0.000000,10.000000,1.500000,1960.000000,0.000000e+00,0.000000e+00
25%,10591.250000,0.207706,0.000000e+00,0.000000e+00,90.000000,17.000000,5.400000,1995.000000,0.000000e+00,0.000000e+00
50%,20617.000000,0.383960,0.000000e+00,0.000000e+00,99.000000,38.000000,6.000000,2006.000000,0.000000e+00,0.000000e+00
75%,75417.750000,0.714554,1.500000e+07,2.404763e+07,111.000000,146.000000,6.600000,2011.000000,2.085325e+07,3.374829e+07
max,417859.000000,32.985763,4.250000e+08,2.781506e+09,900.000000,9767.000000,9.200000,2015.000000,4.250000e+08,2.827124e+09

# 7. Analyze the cleaned dataset

### Find Avg. rating for each movie

In [ ]:
Mean_count = New.groupby('budget').mean().reset_index()

In [40]:
df_clean[["imdb_id", "popularity"]]

         imdb_id  popularity
0      tt0369610   32.985763
1      tt1392190   28.419936
2      tt2908446   13.112507
3      tt2488496   11.173104
4      tt2820852    9.335014
5      tt1663202    9.110700
6      tt1340138    8.654359
7      tt3659388    7.667400
8      tt2293640    7.404165
9      tt2096673    6.326804
10     tt2379713    6.200282
11     tt1617661    6.189369
12     tt0470752    6.118847
13     tt2120120    5.984995
14     tt2395427    5.944927
15     tt3460252    5.898400
16     tt2446042    5.749758
17     tt0478970    5.573184
18     tt1661199    5.556818
19     tt1951266    5.476958
20     tt1964418    5.462138
21     tt1798684    5.337064
22     tt2126355    4.907832
23     tt2322441    4.710402
24     tt1596363    4.648046
25     tt2381249    4.566713
26     tt2637276    4.564549
27     tt2802144    4.503789
28     tt1895587    4.062293
29     tt4046784    3.968891
...          ...         ...
10836  tt0061170    0.239435
10837  tt0060177    0.291704
10838  tt0060862    0.151845
10839  tt0060550    0.276133
10840  tt0060437    0.102530
10841  tt0062262    0.264925
10842  tt0061199    0.253437
10843  tt0060588    0.252399
10844  tt0059557    0.236098
10845  tt0059014    0.230873
10846  tt0059127    0.212716
10847  tt0060548    0.034555
10848  tt0060397    0.207257
10849  tt0060445    0.206537
10850  tt0060490    0.202473
10851  tt0060182    0.342791
10852  tt0060165    0.227220
10853  tt0060086    0.163592
10854  tt0060232    0.146402
10855  tt0059221    0.141026
10856  tt0061135    0.140934
10857  tt0060748    0.131378
10858  tt0060921    0.317824
10859  tt0060955    0.089072
10860  tt0060214    0.087034
10861  tt0060371    0.080598
10862  tt0060472    0.065543
10863  tt0060161    0.065141
10864  tt0061177    0.064317
10865  tt0060666    0.035919

[10854 rows x 2 columns]

In [ ]:
Mean_count['revenue'].describe()[['mean','std','min','25%','50%','75%','max']].plot(kind='bar')